
.navbar{
    background: linear-gradient(rgb(0, 183, 255),rgb(255, 255, 255))
    
}
.navbar-toggler{
    background-color: rgb(77, 72, 72);
    opacity: .5;
}
.nav-link{
    color: rgb(23, 25, 26);
}
.logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    
}