
<div class="container-fluid">
    <div class="row">
        <h1 class="heading-about">{{aboutHeading}}</h1>
<h6 class="text-about">{{aboutText}}</h6>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/random-person01.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/random-person02.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div></div>
        <div class="col-lg-4 col-md-12 col-sm-12">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/random-person03.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>    </div>
    </div>
</div>