
<div class="container-fluid info">
    <div class="row title">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h1 class="title">{{title}}</h1>
           
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 info-all">
            <span class="icons"><i class="bi bi-123"></i> </span>
         
            <h3 class="info-title">{{infoTitle1}}</h3>
            <p class="info-text">{{infoText1}}</p>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 info-all">
            <span class="icons"><i class="icon fa-solid fa-warehouse"></i></span>
            <h3 class="info-title">{{infoTitle2}}</h3>
            <p class="info-text">{{infoText2}}</p>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 info-all">
            <span class="icons"><i class="bi bi-alarm-fill"></i></span>
            <h3 class="info-title">{{infoTitle3}}</h3>
            <p class="info-text">{{infoText3}}</p>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 info-all">
            <span class="icons"><i class="bi bi-alarm-fill"></i></span>
            <h3 class="info-title">{{infoTitle4}}</h3>
            <p class="info-text">{{infoText4}}</p>
        </div>
      
    </div>
</div>
