<div class="container-fluid mainOne">
    <div class="row ">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card" style="width: 18rem;">
                <img src="assets/bacelona.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{cardCity1}}, {{cardCountryName1}}</h5>
                     <a href="#" class="btn btn-danger">{{cardPrice1}} €</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card" style="width: 18rem;">
                <img src="assets/atens.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{cardCity2}}, {{cardCountryName2}}</h5>
                     <a href="#" class="btn btn-danger">{{cardPrice2}} €</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card" style="width: 18rem;">
                <img src="assets/salzburg.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{cardCity3}}, {{cardCountryName3}}</h5>
                     <a href="#" class="btn btn-danger">{{cardPrice3}} €</a>
                </div>
            </div>
        </div>
  
        
        
    
   
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card" style="width: 18rem;">
                <img src="assets/paris.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{cardCity4}}, {{cardCountryName4}}</h5>
                     <a href="#" class="btn btn-danger">{{cardPrice4}} €</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card" style="width: 18rem;">
                <img src="assets/prague.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{cardCity5}}, {{cardCountryName5}}</h5>
                     <a href="#" class="btn btn-danger">{{cardPrice5}} €</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card" style="width: 18rem;">
                <img src="assets/warsaw.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{cardCity6}}, {{cardCountryName6}}</h5>
                     <a href="#" class="btn btn-danger">{{cardPrice6}} €</a>
                </div>
            </div>
        </div>
        
        
    </div>
</div>
